    <div id="card-content" >
      <div id="card-title2">
        <h2 color=white;>Clases</h2>
      </div>
      <div id="descripcion">
        <title>Class Admin</title>

        <h1>Classes as Teacher</h1>
        
        <div *ngFor="let class of asProffList">
            {{class.ClassName}}
            <button (click)="goToAttendanceProff(class.ClassId)"> Take Attendance</button>
        </div>
        <button> Create a new class</button>
        
        <h1>Classes as Student</h1>
        
        <div *ngFor="let class of asStudentList">
            {{class.ClassName}}
            <button (click)="goToAttendanceStudent(class.ClassId)"> Go to Class</button>
        </div>
        
        <button> Sign up to a class</button>
        
        
        
        
        
        <div *ngIf="true">
        
        <p>----------Campos par creacion de clase  => POPUP -------</p>
        
        
        <input [(ngModel)]="className"/> 
        <input type="date" #start/>  
        <input type="date" #end/>  
        <button (click)="createClass(start.value, end.value)"> crear clase </button>
        
        
        
        <p>----------Campos par creacion de clase-------</p>
        
        <p>----------Campos para signup de clases => POPUP-------</p>
        <input [(ngModel)]="classCode"/> 
        <button (click)="signUp()"> Sign up to Class </button>
        <p>----------Campos para signup de clases-------</p>
        
        
        
    </div>
    </div>