<div class="box01">
<div class="content" [class.move]="animate">
    <div class="content-timer">
      <div class="content-h">
        <div class="time">{{ hours | number:'2.0'}} <span>h</span></div>
        <div class="content-btn" *ngIf="show">
          <button id="hourPlus" (click)="increment('H')"> + </button>
          <button id="hourLess" (click)="decrement('H')"> - </button>
        </div>
      </div>
      <div class="content-m">
        <div class="time">{{ minutes | number:'2.0'}} <span>m</span></div>
        <div class="content-btn" *ngIf="show">
          <button id="minPlus" (click)="increment('M')"> + </button>
          <button id="minLess" (click)="decrement('M')"> - </button>
        </div>
      </div>
      <div class="content-s">
        <div class="time">{{seconds | number:'2.0'}} <span>s</span></div>
        <div class="content-btn" *ngIf="show">
          <button id="secondPlus" (click)="increment('S')"> + </button>
          <button id="secondLess" (click)="decrement('S')"> - </button>
        </div>
      </div>
    </div>
    <div class="content-btn-action">
      <button type="button" id="start" (click)="start()" [disabled]="disabled">&#9658;</button>
      <button type="button" id="stop" (click)="stop()">&#9724;</button>
      <button type="button" id="reset" (click)="reset()">&#8635;</button>
    </div>
  </div>
  </div>