#card-title2 {
  font-family: "Raleway Thin", sans-serif;
  color: white;
  padding-top: 2%;
}

.container {
  // border: 3px solid green;
  padding-top: 1.25%;
  padding-left: 5%;
  padding-bottom: 2%;
  padding-right: 5%;
  height: 100%;
  width: 100%;
}

.card-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: auto;
  height: 100%;
}

table,
th,
td {
  border: 3px solid black;
  // background-color: white;
  padding: 5px;
  border-collapse: collapse;
}

th {
  background-color: #003347;
  color: white;
}

table {
  margin-bottom: 2%;
  width: 90%;
}

td:nth-child(2), th:nth-child(2) {
  width: 1%;
  white-space: nowrap;
  align-content: center;
}

tr {
  background-color: white;
}

tr:nth-child(odd) {
  background-color: #dcdcdc;
}