
<div class="spinner-border text-primary" role="status" *ngIf="loading">
</div>

<div class="card-content" *ngIf="!loading">
  <div class="container">
    <div id="card-title2">
      <h2>Classes as Teacher</h2>
    </div>

    <table>
      <tr>
        <th>Class Name</th>
        <th>Take Attendance</th>
      </tr>
      <tr *ngFor="let class of asProffList; let i=index">
        <td>
          {{class.ClassName}}
        </td>

        <td>
          <button  mat-raised-button color="accent" (click)="goToAttendanceProff(class.ClassId, i)"> Take Attendance</button>
        </td>
      </tr>
    </table>

    <button  mat-raised-button color="primary" (click)="openDialogCreateClass()">Create a new class</button><br>
  </div>


  <div class="container">
    <div id="card-title2">
      <h2>Classes as Student</h2>
    </div>
    <table>
      <tr>
        <th>Class Name</th>
        <th>Mark Attendance</th>
      </tr>

      <tr *ngFor="let class of asStudentList">

        <td>
          {{class.ClassName}}
        </td>

        <td>
          <button  mat-raised-button color="accent" (click)="goToAttendanceStudent(class.ClassId)"> Go to Class</button>
        </td>

      </tr>
    </table>

    <button  mat-raised-button color="primary" (click)="openDialogSignUpClass()"> Sign up to a class</button><br>
  </div>
</div>