<div class="container">
    Attendance Code
    <input id="attCodeInput" class="form-control code-input" [(ngModel)]="attCode" />
    <button id="markAttButton" mat-raised-button color="primary" (click)="markAtt()"> Mark Attendance </button>

    <table>
        <tr>
            <th *ngFor="let date of dates">
                {{date}}
            </th>
        </tr>
        <tr>
            <td *ngFor="let date of dates; let i = index">
                <!-- {{datesPresent[i]}} -->
                <img src="https://upload.wikimedia.org/wikipedia/commons/c/c6/Sign-check-icon.png"
                    *ngIf="datesPresent[i]; else xImg">
                <ng-template #xImg>
                    <img #xImg
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8f/Flat_cross_icon.svg/1200px-Flat_cross_icon.svg.png">
                </ng-template>
            </td>
        </tr>
    </table>
</div>