.container {
    padding: 2%;
}

.code-input {
    width: 20%;
    margin-bottom: 2%;
}

table,
th,
td {
    border: 3px solid black;
    padding: 8px;
    border-collapse: collapse;
}

th {
    background-color: #003347;
    color: white;
}

table {
    margin-bottom: 2%;
    margin-top: 2%;
    width: fit-content;
}

img {
    width: 30px;
    height: 30px;
}

td {
    text-align: center;
    background-color: white;
}

.container {
    padding: 2%;
}