body {
  background: -webkit-linear-gradient(bottom, #FBAA60, #FBAA60);
  background-repeat: no-repeat;
  //padding-left: 30%;
  width: 100%;
  height: 100%;
}


.box01{
  background: -webkit-linear-gradient(bottom, #F67B50, #F67B50);
  background-repeat: no-repeat;
  margin-right:5%;
  margin-left: 5%;
  width: 90%;
  height: 50%;
  //border: 5px solid red;
  display: flex;
  //align-items: flex-end;
}
.box02{
  background: -webkit-linear-gradient(bottom, #F67B50, #F67B50);
  background-repeat: no-repeat;
  width: 100%;
  height: 10%;
  //border: 5px solid red;
  display: flex;
  //align-items: flex-end;
}

#button{
  background: #FBAA60;
  box-shadow: 0px 1px 8px #FBC490;
  border-radius: 10px;
  padding-left: 10%;
  padding-right: 10%;
  width: 75%;
  text-align: center;
  color: white;
  //margin: 13rem auto 8.1rem auto;
}
#lista{
    color: white;
    padding-bottom: 10px;
    padding-top: 5px;
    padding-left: 25%;
    padding-right: 10px;
}
#resultados{
  color: white;
  padding-bottom: 10px;
  padding-top: 5px;
  padding-left: 25%;
  padding-right: 10px;
}
#list{
  color: white;
  padding-bottom: 10px;
  padding-top: 5px;
  padding-left: 25%;
  padding-right: 10px;
}
#result{
  color: white;
  padding-bottom: 10px;
  padding-top: 5px;
  padding-left: 25%;
  padding-right: 10px;
}
