<h1 style="font-size:40px; color:white">Randomizador</h1>
<body>
  <div class="box01">
    <div class="list">  
      <h3 id="title" style="color:white">Lista</h3>
      <ul id="list" #list></ul>
      
    </div>
    <div class="results">
      <h3 id="title" style="color:white">Resultados</h3>
      <ul id="result" #result ></ul>
    </div>
  </div>
  
  <div class="box02">
  <input type="text" id="words" #words>

  <button id="button" (click)="appendToArray(words.value);words.value=''" >Agregar</button>

  <button id="button" (click)="shuffleList()">Randomizar</button>
   
  </div>
  <div class="box03">
    <button id="clear" (click)="clearList()">Limpiar Lista</button>
  </div>

</body>
