<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <div class="box01">
        <div class="box02">
            <div id="card">
                <div id="card-content" >
                  <div id="card-title">
                    <a href="../../assets/img/att.png"  target="_blank"><img src="../../assets/img/att.png" height="200" width="200"></a>
                    <p></p>
                    <h2 color=white;>MyATT</h2>
                  </div>
                  <div id="tableButtons">
                    <button id="button" >Clases</button>
                    <div id="test">
                    <button id="button" >Randomizador</button>
                   </div>
                   <div id="test">
                    <button id="button" >Temporizador</button>
                  </div>
                    <div id="test">
                    <button id="button" >Perfil</button>
                  </div>
                    <div id="test1">
                    <button id="button" (click)="onSignOut()">Cerrar Sesión</button>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="box03">
            <div id="card">
                <div id="card-content" >
                  <div id="card-title2">
                    <h2 color=white;>Clases</h2>
                  </div>
                  <div id="descripcion">
                    <button (click)="toClassAdmin()"> Create Class </button>
                    <button (click)="onSignOut()">  Sign Out </button>
                </div>
                </div>
              </div>
        </div>
      </div>
</body>
</html>