<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Card</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
  <div id="card">
    <div id="card-content" >
      <div id="card-title">
        <a href="../../assets/img/att.png"  target="_blank"><img src="../../assets/img/att.png" height="200" width="200"></a>
        <p></p>
        <!--<img class="card-img-top" src="../../assets/img/att.png">-->
        <h2 color=white;>MyATT</h2>
        <button id="submit-btn" (click)="signIn()">Sign or Log In</button>
      </div>
    </div>
  </div>
</body>
</html>