<div class="container">
    <div id="card-title2">
        <h2>{{className}}</h2>
    </div>
    <h4>Class Code: {{classId}}</h4>

    <table>
        <tr>
            <th>Students</th>
            <th *ngFor="let date of dates">{{date}}</th>
        </tr>
        <tr *ngFor="let student of studentsNames, let i = index">
            <td>{{student}}</td>
            <td *ngFor="let at of fullAtt[i]">
                <img src="https://upload.wikimedia.org/wikipedia/commons/c/c6/Sign-check-icon.png"
                    *ngIf="at; else xImg">
                <ng-template #xImg>
                    <img #xImg
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8f/Flat_cross_icon.svg/1200px-Flat_cross_icon.svg.png">
                </ng-template>
            </td>
        </tr>
    </table>

    <button mat-raised-button color="primary" (click)="closeAtt()">Close Attendance</button>

    <button mat-raised-button color="primary" (click)="openAtt()">Take Today's Attendance</button>

    <button mat-raised-button color="primary" (click)="deleteClass()">Delete this class</button>

    <div *ngIf="classCode">
        This is the attendance code for today:
        <p>{{classCode}}</p>
    </div>
</div>
<!-- <td *ngFor="let at of fullAtt[i]">
    {{at}}
    <img src="https://upload.wikimedia.org/wikipedia/commons/c/c6/Sign-check-icon.png" *ngIf="att==='true'; else xImg" style="width: 50px; height: 50px;">
    <ng-template #xImg>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8f/Flat_cross_icon.svg/1200px-Flat_cross_icon.svg.png" style="width: 50px; height: 50px;">
    </ng-template>
</td> -->