<div class="container">
    <div id="card-title2">
        <h2>{{className}}</h2>
    </div>
    <h4 class="caja1">Class Code: </h4>&nbsp;<h4 class="caja1" id="classId"> {{classId}}</h4>


    <table>
        <tr>
            <th>Students</th>
            <th *ngFor="let date of dates">{{date}}</th>
        </tr>
        <tr *ngFor="let student of studentsNames, let i = index">
            <td>{{student}}</td>
            <td *ngFor="let at of fullAtt[i]">
                <img src="https://upload.wikimedia.org/wikipedia/commons/c/c6/Sign-check-icon.png"
                    *ngIf="at; else xImg">
                <ng-template #xImg>
                    <img #xImg
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8f/Flat_cross_icon.svg/1200px-Flat_cross_icon.svg.png">
                </ng-template>
            </td>
        </tr>
        <!-- <tr>
            <th>State</th>
            <td *ngFor="let date of dates; let i = index">
                {{att.Attendances[date].Open}}
                <p *ngIf="att.Attendances[date].Open">OPEN</p>
                <p *ngIf="!att.Attendances[date].Open">CLOSED</p>
            </td>
        </tr> -->
    </table>

    <button mat-raised-button color="primary" id="closeAtt" (click)="closeAtt()">Close Attendance</button>

    <button mat-raised-button color="primary" id="takeAtt" (click)="openAtt()">Take Today's Attendance</button>

    <button mat-raised-button color="primary" id="deleteClass" (click)="deleteClass()">Delete this class</button>

    <div *ngIf="classCode">
        This is the attendance code for today:
        <p id="attId">{{classCode}}</p>
    </div>
</div>
